body {
    margin: 0;
    background: #eeeeee;
    text-align: center;
    color: #ffffff;
}

#card {
    margin: 60px auto 20px;
    width: 400px;
    height: 150px;
    background: #ffffff;
    font-size: 36px;
    line-height: 150px;
    perspective: 150px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#card-front,
#card-back {
    color: #004466;
    background: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

#card-back {
    color: #004466;
    background: #ffffff;
    transform: rotateY(180deg);
}

.open {
    transform: rotateY(180deg);
}

#btn {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    background: #004466;
    box-shadow: 0 4px 0 #006688;
    text-align: center;
}

#btn:hover {
    opacity: 0.8;
}